@model List<Website.CoWines.ViewModel.ProductViewModel>

@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    ViewBag.Title = "Products";
}

<h2>Products</h2>


<!-- TODO: need search functionality -->

<form method="post" action="@Url.Content("~/Admin/Products")">
    @Html.AntiForgeryToken()
    <table class="table table-bordered table-hover table-responsive">
        <tr>
            <th>Ref</th>
            <th>Name</th>
            <th>Price</th>
            <th>Year</th>
            <th>Stock</th>
            <th>Offer</th>
            <th>Actions</th>
        </tr>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr>
                <td>@Model[i].CatalogueNumber</td>
                <td><input type="text" class="form-control" name="model[i].Name" placeholder="Product Name" value="@Model[i].Name" /></td>
                <td><input type="number" step="0.01" class="form-control" name="model[i].Price" value="@Model[i].PriceInclVat" /></td>
                <td><input type="number" class="form-control" name="model[i].Year" value="@Model[i].Year" /></td>
                <td><input type="number" class="form-control" name="model[i].Stock" value="0" /></td>
                <td><input type="checkbox" class="checkbox" name="model[i].Offer" /></td>
                <td class="text-center">
                    <a href="@Url.Content("~/Product/Delete/" + Model[i].Id)" class="btn btn-default"><i class="fa fa-trash" title="Delete"></i></a>
                    <a href="@Url.Content("~/Product/Copy/" + Model[i].Id)" class="btn btn-default"><i class="fa fa-plus-square" title="Copy"></i></a>
                    <a href="@Url.Content("~/Product/Edit/" + Model[i].Id)" class="btn btn-default"><i class="fa fa-edit" title="Edit"></i></a>
                </td>
            </tr>
        }
    </table>
    <div class="row">
        <a href="@Url.Content("~/Products/Add")" class="btn btn-default">Add Product</a>
    </div>
    <div class="row">
        <input type="submit" class="btn btn-success pull-right" value="Save Changes" />
    </div>
</form>